@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', serif;
}
.contain{
  background-color: red;
  width: 200px;
  height: 200px;;

}